.features {
   margin: 0 auto;
   width: 80%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, auto);
   gap: 5rem;

   &__image {
      width: 100%;
      transition: all .75s;
   }

   &__feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 6rem;
      transition: all .75s;

      & > *:not(:last-child) {
         margin-bottom: 2rem;
      }
   }

   &__icon {
      padding: 1.25rem;
      border-radius: 50%;
      background-color: rgba($color-green, .4);
      color: $color-green;
      display: flex;
      justify-content: center;
      align-items: center;
      width: min-content;

      & > svg {
         width: 2.75rem;
         height: 2.75rem;
         fill: none;
         stroke: currentColor;
      }
   }

   &__heading {
      font-size: 2rem;
   }

   &__text {
      font-size: 1.6rem;
      color: rgba($font-color-default, .7);
      line-height: 200%;
   }
}

.reverse {
   grid-area: 2 / 2 / 3 / 3;
}