.section {
   padding: 10rem 2rem;
   border-top: $section-border;
   transition: transform 1s, opacity 1.5s;

   &__title {
      width: 55%;
      margin: 0 auto 6rem;
   }

   &__heading {
      font-weight: 500;

      &--primary {
         font-size: 1.8rem;
         color: $color-green;
         margin-bottom: 1rem;
         text-transform: uppercase;
      }

      &--secondary {
         font-size: 4rem;
      }

      &--sign-up {
         color: $color-white;
      }
   }

   &--sign-up {
      background-color: $color-footer;
      text-align: center;
   }
}