.link {
   display: inline-block;

   &:link,
   &:visited {
      color: $color-green;
      text-decoration: none;
   }

   &:active {
      transform: translateY(-10%);
   }

   padding: .5rem .2rem;
   border-bottom: .1rem solid $color-green;
   cursor: pointer;
   transition: transform .2s;
}