.slider {
   margin: 0 auto;
   width: 65%;
   display: flex;
   position: relative;
   height: 55rem;
   overflow: hidden;
   
   &__slide {
      position: absolute;
      height: inherit;
      padding: 8rem 15rem;
      transition: transform .8s;

      & > *:not(:last-child) {
         margin-bottom: 2rem;
      }
   }

   &__heading {
      font-size: 2.5rem;
      font-weight: 500;
   }

   &__text {
      color: rgba($font-color-default, .7);
      line-height: 200%;
   }

   &__quote-icon {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50%, 25%);

      & > svg {
         width: 10rem;
         height: 10rem;
         fill: $color-green;
      }
   }

   &__btn {
      position: absolute;
      background-color: $color-white;
      font-size: 3.5rem;
      top: 50%;
      border: none;
      outline: none;
      padding: 1rem;
      border-radius: 50%;
      transition: transform .2s;
      cursor: pointer;

      &--left {
         left: 0;
         transform: translateY(-50%);

         &:active {
            transform: translateY(-60%);
         }
      }

      &--right {
         right: 0;
         transform: translateY(-50%);

         &:active {
            transform: translateY(-60%);
         }
      }
   }

   &__dots {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 10%;
      height: 1.25rem;
      display: flex;
      justify-content: space-between;
   }

   &__dot {
      width: 1.25rem;
      height: inherit;
      background-color: rgba($color-gray, .5);
      border-radius: 50%;
      transition: background-color .1s;
      cursor: pointer;

      &--active {
         background-color: $color-gray;
      }
   }
}

.user {
   display: flex;

   &__image {
      width: 6.5rem;
      border-radius: 50%;
      margin-right: 1.25rem;
   }

   &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }
}