$color-white: #fff;
$color-black: #000;
$color-background: #f3f3f3;
$color-green: #5ec576;
$color-border: #ddd;

$font-size-default: 1.7rem;
$font-color-default: #444;

$gradient-primary: linear-gradient(to top left, #39b385, #9be15d);