$color-white: #fff;
$color-black: #000;
$color-background: #f3f3f3;
$color-green: #5ec576;
$color-border: #ddd;
$color-yellow: #ffbb00;
$color-red: #fd424b;
$color-gray: #666;
$color-footer: #37383d;

$section-border: .15rem solid $color-border;

$font-size-default: 1.7rem;
$font-color-default: #444;

$gradient-primary: linear-gradient(to top left, #39b385, #9be15d);