.margin-bottom-small { margin-bottom: 2rem; }
.margin-bottom-medium { margin-bottom: 3.5rem; }
.margin-bottom-big { margin-bottom: 5rem; }

.highlighted {
   position: relative;

   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transform: scale(1.05, 1.1) skew(-15deg);
      background-image: $gradient-primary;
      opacity: .7;
   }
}

.obscured {
   opacity: .5;
}

.hidden {
   visibility: hidden;
   opacity: 0;
}